<!-- base.html -->
{{ template "header.html" . }}

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-md-block sidebar">
                <div class="position-sticky">
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                        <span class="fs-4">VirtBrowser</span>
                        </a>
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>Hello {{ .User }}</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                            </ul>
                        </div>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item"><a href="/dashboard" class="nav-link" >Overview</a></li>
                        <li class="nav-item "><a href="/terminal" class="nav-link" >Terminal</a></li>
                        <li class="nav-item"><a href="/logs?file=/home/ajaiswal/gocatalog/virtbrowser/virtbrowser.log" class="nav-link" >App Log</a></li>

                        <li class="nav-item nav-link">Virtualization</li>
                        <ul class="">
                            <li class="nav-item"><a href="/vms/machine" class="nav-link rounded">VM</a></li>
                            <li class="nav-item"><a href="/vms/network" class="nav-link rounded">Networks</a></li>
                          </ul>


                        </ul>
                        <hr>
                    </div>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-10 ms-sm-auto">
                <div id="content">
                    {{ .Content }}
                </div>
            </main>
        </div>
    </div>


    <script src="/static/js/sidebars.js"></script>
</body>
</html>
