<div class="container mt-3">
    <h4>Welcome, {{ .User }} Dashboard Page</h4>

    <div class="row">
        <!-- Health Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Health</h5>
                    <p class="card-text text-danger">5 services have failed</p>
                    <p class="card-text text-warning">Security updates available</p>
                    <p class="card-text">Last successful login: Sep 13, 04:32 PM</p>
                    <a href="#" class="card-link">View login history</a>
                </div>
            </div>
        </div>

        <!-- Usage Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Usage</h5>
                    <p>CPU: {{ .Sys.CPU }}% of {{ .Sys.TotalCPU }} CPUs</p>
                    <p>Memory: {{ .Sys.UsedMem }} of {{ .Sys.TotalMem }} GiB</p>
                    <p>Allocated Memory: {{ .Sys.Alloc }} of {{ .Sys.TotalAlloc}}</p>
                    <p>System Memory: {{ .Sys.Sys }}</p>
                    <p>Number of Garbage Collections: {{ .Sys.NumGC }}</p>

                    <!-- <a href="#" class="card-link">View details and history</a> -->
                </div>
            </div>
        </div>

        <!-- System Info Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System Information</h5>
                    <p>OS: {{ .Sys.OS  }}</p>
                    <p>Kernel: {{ .Sys.Kernel  }}</p>
                    <p>Platform: {{ .Sys.Platform  }}</p>
                    <p>Hostname: {{ .Sys.Hostname  }}</p>
                    <p>Machine ID: {{ .Sys.MachineID }}</p>
                    <p>Uptime: {{ .Sys.Uptime  }}</p>
                    <!-- <a href="#" class="card-link">View hardware details</a> -->
                </div>
            </div>
        </div>
    </div>

</div>