{{ template "header.html" . }}
<body class="login">
    <div class="login-container shadow-lg">
        <h2>Login</h2>
        {{ if .Error }}
        <div class="alert alert-danger">{{ .Error }}</div>
        {{ end }}
        <h3 class="login-header">Ubuntu 20.04.6 LTS</h3>
        <form method="POST" action="/login">
            <div class="form-group mb-3">
                <label for="username">User name</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Log In</button>
            <div class="text-center mt-3">
                <small>Server: </small>
            </div>
        </form>
    </div>
</body>
</html>
