body.login {
    background: url('bg-plain.jpg') no-repeat center center fixed;
    background-size: cover;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
}
.login-header {
    text-align: center;
}

.sidebar {
    height: 100vh;
    background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1))!important;
    color: white;
    padding-top: 20px;
}
.sidebar .nav-link {
    color: white;
}
.card {
    margin-bottom: 20px;
}

#log {
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    height: 80vh;
    overflow-y: scroll;
}